#catalogTree.jstree-default a, #opeCatalogTree.jstree-default a {
    white-space: nowrap !important;
    height: auto;
}

.jstree-default a {
    white-space: normal !important;
    height: auto;
}

.jstree-anchor {
    height: auto !important;
}

.jstree-default li > ins {
    vertical-align: top;
}

.jstree-leaf {
    height: auto;
}

.jstree-leaf a {
    height: auto !important;
}

#func_number {
    display: inline;
    margin-left: 10px;
    color: #FF00FF;
    font-weight: bold;
}

#func_more {
    display: inline;
    border-style: solid;
    border-width: 1px;
    margin-left: 5px;
    margin-right: 5px;
}

#func_content {
    display: inline-block;
    vertical-align: top;
}

#spec_def {
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #00FF00;
    color: #00FF00;
}

#spec_analysis {
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #00B0F0;
    color: #00B0F0;
}

#func_req a {
    border-style: solid;
    border-width: 1px;
    border-color: #00FF00;
    color: #00FF00;
}

#showSpecAnalysisA {
    border-style: solid;
    border-width: 1px;
    border-color: #00FF00;
    color: #00FF00;
}

#searchCatalogTree {
    margin-bottom: 15px;
}

#searchModelTree {
    margin-bottom: 20px;
    width: 50%;
}

#contentTree.jstree-default .jstree-open > .jstree-ocl {
    background-position: -68px -4px;
}

#modelTree.jstree-default .jstree-open > .jstree-ocl {
    background-position: -68px -4px;
}

#modelTree .jstree-anchor {
    width: 85%;
}

#leafNode {
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    width: 25px;
    height: 25px;
    text-align: center;
    float: right;
}

#func_tags {
    display: inline-block;
}

#func_canTest {
    display: inline;
    vertical-align: top;
}

#spec_file_info {
    display: inline;
    border-style: solid;
    border-width: 1px;
}

.main_title, .sub_title {
    font-size: 20px;
    min-height: 34px;
    color: black;
    border-bottom: black solid;
    background: transparent;
}

.sub_controller {
    margin: 5px 0 5px 50px;
}

#ope-main {
    height: calc(100vh - 50px);
    overflow: auto;
    margin: -20px -40px -20px -40px;
    padding: 20px;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu > li > a {
    white-space: nowrap !important;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: inline-block;
}

.dropdown-submenu > a:after {
    display: inline-block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #cccccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #ffffff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
